.row {
    margin-top: 150px;
}

h1 {
    font-size: 50px;
    color: blue;
}

input {
    margin-top: 10px;
}

button {
    margin-top: 10px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

body {
    background-color: whitesmoke;
}

a {
    margin-top: 10px;
}

.btn-success {
    margin-left: 90px;
}